In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

In [2]:
# create a Series with an arbitrary list
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])
s

0                7
1       Heisenberg
2             3.14
3      -1789710578
4    Happy Eating!
dtype: object

In [3]:
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'],
              index=['A', 'Z', 'C', 'Y', 'E'])
s

A                7
Z       Heisenberg
C             3.14
Y      -1789710578
E    Happy Eating!
dtype: object

In [4]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100,
     'Austin': 450, 'Boston': None}
cities = pd.Series(d)
cities

Austin            450.0
Boston              NaN
Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
dtype: float64

In [5]:
cities[cities < 1000]

Austin      450.0
Portland    900.0
dtype: float64

In [6]:
less_than_1000 = cities < 1000
print(less_than_1000)
print('\n')
print(cities[less_than_1000])

Austin            True
Boston           False
Chicago          False
New York         False
Portland          True
San Francisco    False
dtype: bool


Austin      450.0
Portland    900.0
dtype: float64

In [7]:
print('Seattle' in cities)
print('San Francisco' in cities)

False
True

In [8]:
cities / 3

Austin           150.000000
Boston                  NaN
Chicago          333.333333
New York         433.333333
Portland         300.000000
San Francisco    366.666667
dtype: float64

In [9]:
np.square(cities)

Austin            202500.0
Boston                 NaN
Chicago          1000000.0
New York         1690000.0
Portland          810000.0
San Francisco    1210000.0
dtype: float64

In [10]:
print(cities[['Chicago', 'New York', 'Portland']])
print('\n')
print(cities[['Austin', 'New York']])
print('\n')
print(cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']])

Chicago     1000.0
New York    1300.0
Portland     900.0
dtype: float64


Austin       450.0
New York    1300.0
dtype: float64


Austin         NaN
Chicago        NaN
New York    2600.0
Portland       NaN
dtype: float64

In [11]:
cities.notnull()

Austin            True
Boston           False
Chicago           True
New York          True
Portland          True
San Francisco     True
dtype: bool

In [12]:
print(cities.isnull())
print('\n')
print(cities[cities.isnull()])

Austin           False
Boston            True
Chicago          False
New York         False
Portland         False
San Francisco    False
dtype: bool


Boston   NaN
dtype: float64

In [13]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [14]:
from_csv = pd.read_csv('mariano-rivera.csv')
from_csv

,Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,WHIP,H/9,HR/9,BB/9,SO/9,SO/BB,Awards
0,1995,25,NYY,AL,5,3,0.625,5.51,19,10,2,0,0,0,67.0,71,43,41,11,30,0,51,2,1,0,301,84,1.507,9.5,1.5,4.0,6.9,1.70,NaN
1,1996,26,NYY,AL,8,3,0.727,2.09,61,0,14,0,0,5,107.2,73,25,25,1,34,3,130,2,0,1,425,240,0.994,6.1,0.1,2.8,10.9,3.82,CYA-3MVP-12
2,1997,27,NYY,AL,6,4,0.600,1.88,66,0,56,0,0,43,71.2,65,17,15,5,20,6,68,0,0,2,301,239,1.186,8.2,0.6,2.5,8.5,3.40,ASMVP-25
3,1998,28,NYY,AL,3,0,1.000,1.91,54,0,49,0,0,36,61.1,48,13,13,3,17,1,36,1,0,0,246,233,1.060,7.0,0.4,2.5,5.3,2.12,NaN
4,1999,29,NYY,AL,4,3,0.571,1.83,66,0,63,0,0,45,69.0,43,15,14,2,18,3,52,3,1,2,268,257,0.884,5.6,0.3,2.3,6.8,2.89,ASCYA-3MVP-14
5,2000,30,NYY,AL,7,4,0.636,2.85,66,0,61,0,0,36,75.2,58,26,24,4,25,3,58,0,0,2,311,170,1.097,6.9,0.5,3.0,6.9,2.32,AS
6,2001,31,NYY,AL,4,6,0.400,2.34,71,0,66,0,0,50,80.2,61,24,21,5,12,2,83,1,0,1,310,192,0.905,6.8,0.6,1.3,9.3,6.92,ASMVP-11
7,2002,32,NYY,AL,1,4,0.200,2.74,45,0,37,0,0,28,46.0,35,16,14,3,11,2,41,2,1,1,187,163,1.000,6.8,0.6,2.2,8.0,3.73,AS
8,2003,33,NYY,AL,5,2,0.714,1.66,64,0,57,0,0,40,70.2,61,15,13,3,10,1,63,4,0,0,277,267,1.005,7.8,0.4,1.3,8.0,6.30,MVP-27
9,2004,34,NYY,AL,4,2,0.667,1.94,74,0,69,0,0,53,78.2,65,17,17,3,20,3,66,5,0,0,316,232,1.081,7.4,0.3,2.3,7.6,3.30,ASCYA-3MVP-9
10,2005,35,NYY,AL,7,4,0.636,1.38,71,0,67,0,0,43,78.1,50,18,12,2,18,0,80,4,0,0,306,308,0.868,5.7,0.2,2.1,9.2,4.44,ASCYA-2MVP-9
11,2006,36,NYY,AL,5,5,0.500,1.80,63,0,59,0,0,34,75.0,61,16,15,3,11,4,55,5,0,0,293,252,0.960,7.3,0.4,1.3,6.6,5.00,ASMVP-26
12,2007,37,NYY,AL,3,4,0.429,3.15,67,0,59,0,0,30,71.1,68,25,25,4,12,2,74,6,0,1,295,144,1.121,8.6,0.5,1.5,9.3,6.17,NaN
13,2008,38,NYY,AL,6,5,0.545,1.40,64,0,60,0,0,39,70.2,41,11,11,4,6,0,77,2,0,1,259,316,0.665,5.2,0.5,0.8,9.8,12.83,ASCYA-5
14,2009,39,NYY,AL,3,3,0.500,1.76,66,0,55,0,0,44,66.1,48,14,13,7,12,1,72,1,0,1,257,262,0.905,6.5,0.9,1.6,9.8,6.00,ASMVP-14
15,2010,40,NYY,AL,3,3,0.500,1.80,61,0,55,0,0,33,60.0,39,14,12,2,11,3,45,5,0,0,230,241,0.833,5.9,0.3,1.7,6.8,4.09,AS
16,2011,41,NYY,AL,1,2,0.333,1.91,64,0,54,0,0,44,61.1,47,13,13,3,8,2,60,2,0,1,233,226,0.897,6.9,0.4,1.2,8.8,7.50,ASCYA-8
17,2012,42,NYY,AL,1,1,0.500,2.16,9,0,9,0,0,5,8.1,6,2,2,0,2,2,8,0,0,0,32,203,0.960,6.5,0.0,2.2,8.6,4.00,NaN
18,2013,43,NYY,AL,6,2,0.750,2.11,64,0,60,0,0,44,64.0,58,16,15,6,9,3,54,1,0,0,256,192,1.047,8.2,0.8,1.3,7.6,6.00,AS

In [15]:
football.to_csv('path_to_file.csv')

In [16]:
football.head()

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5

In [17]:
football.to_excel('football.xlsx', index=False)

In [18]:
football1 = pd.read_excel('football.xlsx', 'Sheet1')
football1

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [19]:
hank = pd.read_clipboard()
hank.head()

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5

In [20]:
url = 'https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv'

# fetch the text from the URL and read it into a DataFrame
from_url = pd.read_table(url, sep='\t')
from_url.head(3)

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
0,1,BLT,Old Oak Tap,The B is applewood smoked&mdash;nice and snapp...,$10,2109 W. Chicago Ave.,Chicago,773-772-0406,theoldoaktap.com,"2109 W. Chicago Ave., Chicago","2109 West Chicago Avenue, Chicago, IL 60622, USA",41.895734,-87.679960
1,2,Fried Bologna,Au Cheval,Thought your bologna-eating days had retired w...,$9,800 W. Randolph St.,Chicago,312-929-4580,aucheval.tumblr.com,"800 W. Randolph St., Chicago","800 West Randolph Street, Chicago, IL 60607, USA",41.884672,-87.647754
2,3,Woodland Mushroom,Xoco,Leave it to Rick Bayless and crew to come up w...,$9.50.,445 N. Clark St.,Chicago,312-334-3688,rickbayless.com,"445 N. Clark St., Chicago","445 North Clark Street, Chicago, IL 60654, USA",41.890602,-87.630925